<html>
<head>
<title>MonkeyJJs Japan Trip!</title>
</head>
{% include "style.html" %}
<style>
a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
}
</style>
<body>
<div class="header">
  <h1 style="background-color:{{ colorhead }};color:#000000;">This is MonkeyJJs Japan Trip Guide!</h1>
</div>

{% include "navbar.html" %}
<h2>Learn about what places you should go during you Japan trip.</h2>
<p style = font-family:Verdana;font-size:18;>In Japan, a wide variety of activities are presented, from world famous theme parks to quiet, cultural activities. Some of the most famous places are Disneyworld, Disneysea (the only Disneysea the world), Universal Studios and Legoland. 
There are also many places people would like to go for a more quiet experience, such as the many famous temples and hot springs to relax in. Learn more from the below.</p>
<img src="https://static.independent.co.uk/2022/08/24/12/iStock-1146262403.jpg?quality=75&width=1250&crop=3%3A2%2Csmart&auto=webp" width="700" height="450">
<img src="https://www.lot.com/content/dam/lot/lot-com/destination-photos/japonia/Tokyo-5%20.coreimg.jpg/1723628368208/Tokyo-5%20.jpg" width="700" height="450">

</body>
</html>