<html>
<head>
<title>MonkeyJJs Japan Trip!</title>
</head>
{% include "style.html" %}
<style>
h2 {
  border: 2px solid black;
  padding: 20px;
  margin: 50px;
}</style>
<body>
    <div class="header">
  <h1 style="background-color:{{ colorhead }};color:#000000;">Feedback Page</h1>
</div>
{% include "navbar.html" %}
    <h2>Day 1 <p style="font-family:Verdana;font-weight:normal">Today was full of excitement. We woke up at 7 am. Went on the car to drive for half an hour. And sat on a plane for a full ten hours. Excitement from going to Japan started to fade away as I checked relentlessly my bag and luggage. The adrenaline from jumping up early in the morning started to fade away as I sat in the car, thinking of if I will get dizzy during the flight. Finally arriving at the airport, we said goodbye to Dad and went to the check in. Fatigue started to kick in as we walked around the airport carrying luggage and still hungry from not having breakfast, we got past border control and finally found our saving grace. The airport Mcdonalds.

    </br></br>Eating my cheeseburger, the flight time neared and thoughts of sitting on a racing roller-coaster started appearing in my mind. Half excited, half scared ,I though of falling down from a loopy-loop, but also the thrill of dumping up and down and screaming at the top of your lungs without someone judging you. Walking over to the gate of our flight, my mum and I brushed away our thoughts of nervousness and thought of all the happy memories we would make in the wonderful country of Japan. </br></br>

Boarding started as we stood in the long line of 30 people and waited to jump on board. The plane ride was tiring but I convinced myself it would be worth it. Countless hours passed on the plane, forced through watching movies and TV shows. Sonic 3, Kung Fu Panda 1 and 4, Knuckles, etc, etc. Feeling my pockets for a chocolate I bought, something felt off. My back pocket was at the front. My pants were the wrong way round! Checking if anyone was awake to see, only one was not asleep. </br></br>

A grin fell onto his face as he looked at me, then at my pants. The grin turned into a smirk as he slowly tapped his friends shoulder. Embarrassment fell over my face as I waited for more time to pass, but soon, his entire row was looking at me. Time slowly passed as the hours went by, 4 turned into 5 and 5 turned into 6 and 6 turned into 7, which slowly turned into 9:30. Finally touching down, I still hadn’t eaten proper dinner or lunch, and going down from the plane was a  slow trip.</br></br>

Walking through the airport, we finally got to my favourite store, Lawson. There was everything I needed for the entire trip other than clothes. A couple instant noodles were bought and that was all I had for dinner. At the hotel, a cool, comfy bed was provided and as soon as my head hit the pillow, I felt like sleeping for a hundred years. There was a spa at the hotel, and both our family friends and Mum left for the spa, leaving me to the hotel room alone, being ditched until around 1am, when I was already asleep for 2 hours.</br></br>

And that was the end of day 1.
</p></h2>
    <h2>Day 2 <p style="font-family:Verdana;font-weight:normal">Today was a day of fun and joy. I woke up at 8:30, feeling a happy feeling inside me, knowing the holiday had officially started. A journey of a lifetime was ahead, with visits to the home of Pokemon, Snoopy, DisneySea, Disneyland, and Universal. When I got up, Mum was already awake, and I quickly brushed my teeth and got ready for the day. We were going to a new hotel today—Sheraton Tokyo—one of the most prestigious hotels we would stay at during this trip. I felt excited thinking about what it would look like and what we were going to do today.</br></br>

Jumping onto the shuttle bus, I double checked my pants. All perfect. It was only an hours ride from the airport terminal to Sheraton but it felt like ages as I kept on wanting to arrive at the hotel. Fun was right in front of us and all we were doing was waiting on a bus. Finally after one grudgingly long hour, we finally arrived.  Disneyland was the place we were going. And a fun time was also where we were going. </br></br>

After getting sorted at the hotel, we sat on a bus to Disneyland. Not sure what to expect, I downloaded the app and looked through the map. Rollercoasters were rare, with only 2 large ones, and I made a vow to myself to try at least one. The Disneyland castle was a work of art. Awe in my eyes, I stared at the brilliance of the theme park. Running to a random ride, I hopped in the line and went up. </br></br>

Nearing the end of the day, our time was nearly up. Looking for the roller coasters, one stood out most. Big Thunder Mountain. Full f thrill, yet not as scary as the other, my mother and I stood in line to ride the coaster. Reaching the front of the line, the nerves started to creep to me. Stepping into the coaster, I bit my lip, and said no regrets. We started at great speed, rocketing up a hill and went through a sharp turn. Countless pitch black tunnels were in the ride. My stomach was about to fly out of my mouth. When it was over, my mind was thinking one thing. </br></br>

LETS DO IT AGAIN.</br></br>

It was already 7:30, too late. We hadn’t even had dinner yet and it looked like we were going to watch a show for another hour. The hunger was getting to me as the light show went on, with crowds of people pushing past just to take a photo. Begging my mum to let me eat, we got to a restaurant. Bookings Only! The joy of eating at Disneyland was suddenly taken away as I walked out of the park, longing for a good meal. Arriving at the shopping centre, my savior was right in front of me, the first familiar place I have so far seen in Japan. A Mcdonalds.</br></br>

After having a hearty meal fit for a king, we went back to the hotel and that was the end of day 2.</br></br>

</p></h2>
    <h2>Day 2 <p style="font-family:Verdana;font-weight:normal">Today was a day of fun and joy. I woke up at 8:30, feeling a happy feeling inside me, knowing the holiday had officially started. A journey of a lifetime was ahead, with visits to the home of Pokemon, Snoopy, DisneySea, Disneyland, and Universal. When I got up, Mum was already awake, and I quickly brushed my teeth and got ready for the day. We were going to a new hotel today—Sheraton Tokyo—one of the most prestigious hotels we would stay at during this trip. I felt excited thinking about what it would look like and what we were going to do today.</br></br>

Jumping onto the shuttle bus, I double checked my pants. All perfect. It was only an hours ride from the airport terminal to Sheraton but it felt like ages as I kept on wanting to arrive at the hotel. Fun was right in front of us and all we were doing was waiting on a bus. Finally after one grudgingly long hour, we finally arrived.  Disneyland was the place we were going. And a fun time was also where we were going. </br></br>

After getting sorted at the hotel, we sat on a bus to Disneyland. Not sure what to expect, I downloaded the app and looked through the map. Rollercoasters were rare, with only 2 large ones, and I made a vow to myself to try at least one. The Disneyland castle was a work of art. Awe in my eyes, I stared at the brilliance of the theme park. Running to a random ride, I hopped in the line and went up. </br></br>

Nearing the end of the day, our time was nearly up. Looking for the roller coasters, one stood out most. Big Thunder Mountain. Full f thrill, yet not as scary as the other, my mother and I stood in line to ride the coaster. Reaching the front of the line, the nerves started to creep to me. Stepping into the coaster, I bit my lip, and said no regrets. We started at great speed, rocketing up a hill and went through a sharp turn. Countless pitch black tunnels were in the ride. My stomach was about to fly out of my mouth. When it was over, my mind was thinking one thing. </br></br>

LETS DO IT AGAIN.</br></br>

It was already 7:30, too late. We hadn’t even had dinner yet and it looked like we were going to watch a show for another hour. The hunger was getting to me as the light show went on, with crowds of people pushing past just to take a photo. Begging my mum to let me eat, we got to a restaurant. Bookings Only! The joy of eating at Disneyland was suddenly taken away as I walked out of the park, longing for a good meal. Arriving at the shopping centre, my savior was right in front of me, the first familiar place I have so far seen in Japan. A Mcdonalds.</br></br>

After having a hearty meal fit for a king, we went back to the hotel and that was the end of day 2.</br></br>

</p></h2>

    <h2>Day 3 <p style="font-family:Verdana;font-weight:normal">It was time for the start of our full day theme parks. DisneySea was first on the list. Being the first and only DisneySea in the world, this was a must see location, with thrilling rides such as Journey to the Centre of the Earth and Tower of Terror. These were not exactly at the top of my bucket list, but I had to try at least one. It was not too scary yesterday and I had to feel the thrill that other people feel in fun rides.</br></br>

Taking the Mona Rail or the Disney Train, I could barely sit still while on the train
I was longing to do all the fun rides and see the huge spinning globe. It was going to be even better than yesterday and yesterday was one of the best days I had ever had in a while.</br></br>

Rides like Journey to the Center of the Earth was at the top of my bucket list but every other ride seemed like a area of fun. Walking through the front gate, the consequences of going somewhere fun started to show. As soon as we saw the huge globe, the photos started coming.</br></br>

“Jayden! Jayden! 快，我们快点拍照。一会儿就会有很多人了.”</br></br>

After wasting half an hour taking photos at only the GATE, we finally walked in. Since we had not  pre-bought priority passes, quickly tried to buy some when walking. Our family friends were with us all until then. Turning around to talk to them, they were nowhere to be seen, until I saw them, still at the gate area, looking at the priority passes. We had already went halfway across to the tower of terror area, and they were dawdling behind. Time was already short and we had to multi-task to do all the fun rides.</br></br>

Fun was not the first thing to come to mind for our first ride. It was called Mad Tea Party. The only problem about parents who have motion sickness or think they have motion sickness is that on spinning rides, u cant spin too fast, even though you want to. </br></br>

“Mum, can we spin it slightly faster?”</br></br>

“绝对不行，已经这么快了!”</br></br>

The day could only get better, I told myself.</br></br>

Moving onto the next ride, we looked around the place for a more thrill-based ride. Walking around the place, so many fun rides were everywhere, and one stood out to me - Toy Story Mania. Looking on the app,  the wait time was ages, a whole 50 minutes. Time to look for priority passes. Already finding 2 priority passes, of Elsa and Indiana Jones. Deciding to go later, we sat on the DisneySea Electric Train and went off to find more activities and come back later.</br></br>

It was already 11:20 when we finished the train, and our family friends had to run all the way back because they got the priority pass for 11:30. As for us, we went on one of the most famous water ride in the park, the Searider. It wasn't all that good, with ten minutes of instructions and not very realistic animations, but it was excellent in terms of the movement in the huge submarine, and it followed the path of Nemo, making it quite interesting.</br></br>

After the ride, we went back to exploring, it was midday, around 12, and many rides were still not explored by us. Next, there was the one I had been waiting for the whole time, the Journey to the Center of the Earth. Every scream I heard sent a shiver down my spine but the other options weren't good for my deal with myself, either Tower of Terror, the most scary ride, or Raging Spirits, with a terrifying  360 and I did not want to vomit today. After buying priority pass, it started to rain. It was already scary enough without the rain, but I had to do it. Tickets were already bought and there was no turning back now.</br></br>

Entering the ride, the cold chill ran down my spine as another person talked about how scary it was. There was an apparent drop suddenly after speeding up in the black tunnel. </br></br>

It was true. Feeling slightly light-headed after the ride, there was this feeling of joy in my heart, that I had accomplished something. It had been my second big ride, and the largest drop I had been on. It was time to go to Peter Pan’s ride.  This was a 3-D ride with the screen and it was excellent. Ending up riding a couple more times, it was time for Indiana Jones. This was another I was afraid of. Swiftly moving pass the normal line, we loaded onto the roller-coaster and off we went. </br></br>

It wasn’t scary from the ride, but skeletons and surprising twists filled the ride with terror, with thousands of black spiders crawling along the walls and a boulder nearly squashing us flat. After riding it, a sudden love for roller-coasters surged through my body. I could go on things i previously thought were impossible for me to go on, but now, i could go on small to medium sized ones.</br></br>

The sun was starting to set so we set off to our last ride, the Anna and Elsa’s Frozen Journey. I had high expectations for it, with all the hype, but also didn't want to go because it was 50% chance going to be boring. Going through quickly with our priority pass, we lined up at the end in our boat and off we went, on an indoor lazy river. The animations and the water aspect was really cool, with many animations and even a conveyer belt. Although it was cool, it was way bellow expectations and wasn't very fun. My mum liked it very much but it was Elsa so basically every girl likes it.</br></br>

Hungry since it was already 8 o clock, we rushed out in hurry to get food. Sitting on the Disney Train back to the hotel, we found our last pack of instant noodles and we ate it heartily, hungry after a long day of fun and joy.

</p></h2>
</body>